* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

 
    display: flex;
    align-items: center;
    flex-direction: column;
}
    

 .cabecera{
background-color: gainsboro;
display: flex;
flex-direction: row;
justify-content: space-between;
height: 80px;
width: 90%;
align-items: center;
flex-wrap: nowrap;
position:relative;
padding-left: 30px;
padding-right: 30px;

 }

 .titulo{
    font-size: 30px;
 }
 #nombre{

width:450px;
margin-right: 60px;
 }
 .animal{
    border: 1px solid gray;
width: 90%;
height: 220px;
padding: 20px 20px 20px 20px ;
padding-bottom: 30px;
margin-top: 20px;
display: flex;
    flex-direction: column;
margin-left:60px ;
gap:10px


}


#cuerpo{
display: flex;
flex-direction: row;

}
#porti{
border: 1px solid gray;
width: 400px;
height: 90px;
margin-top: 20px;
display: flex;
flex-direction: column;
padding: 20px 20px 20px 20px;
justify-content: center;
}
#megusta1{background-color: rgb(210, 210, 151);
width: 100px;
height: 30px;
border-radius: 5px;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: background-color 0.3s ease;

}
#botondefinicion{ background-color: rgb(2, 142, 65);
color:aliceblue;
width: 200px;
height: 50px;
border-radius: 5px;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: background-color 0.3s ease;
}
#boton1{
    background-color: rgb(72, 143, 219);
color: aliceblue;
width: 130px;
height:30px ;
border-radius: 5px;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
transition: background-color 0.3s ease;
}

#megusta2{background-color: rgb(210, 210, 151);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    
    }

    p{
font-style:italic ;
font-size: 17px;
text-decoration: none;

    }